<div class="row">
<div class=col-md-3>
</div>
  <div class="col-md-6">

<h1>Connexion</h1>

   <%= form_for(:session, url: login_path) do |f| %>
    <div class="form-group">
      <%= f.label :"E-mail" %>
      <%= f.email_field :email, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :"Mot de passe" %>
      <%= f.password_field :password, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.submit "Connexion", class: "btn btn-primary" %>
      </div>
    <% end %>

     <p>Nouvel utilisateur ? <%= link_to "S'enregistrer", new_user_path %></p>

</div>
<div class=col-md-3>
</div>
</div>